* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 2rem;
    color: aliceblue;
}

.section {
    text-align: center;
    padding: 20px;
}

.btn {
    font-size: 5rem;
    border: none;
    background: rgb(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px;
    filter: grayscale();
    transition: filter .2s ea;
    cursor: pointer;
}

.btn:hover {
    filter: grayscale(0);
}

.emoji-name {
    font-weight: 600;
    color: blueviolet;
    padding-top: 20px;
}